@import url('https://fonts.googleapis.com/css?family=Raleway');
/*å
@media (min-width: 300px) {
  .container {
    max-width: 300px;
  }
  
  body {
	text-align: justify;
  }
}
*/


:root {
	--background: #0C1C54;
	--foreground: #F3F6FF;
	--main-text: #0C1C54;
	--date: #8D94B0;
	--link: var(--main-text);

	--all: var(--main-text);
	--audio: #AB5A2C;
	--video: #BD7B00;
	--image: #539B48;
	--text: #3B7E78;
	--etc: #4D5B8F;
}

body {
	text-align:center;
	padding-top: 7em;
	padding-bottom: 7em;
	min-height: 100%;
	min-height: 100vh;	
	display: flex;
	font-family: 'Raleway', sans-serif;
	background: var(--background);
	color: var(--main-text);
	font-size: 2.0em;
/* 	background-image: url("leaves.jpg"); */
}

td {
	padding-bottom: 0.5em;
	padding-right: 0.5em;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
}

a:active {
	color: inherit;
}

a:focus {
	color: inherit;
}

a.header {
	color: var(--link);
}

.all {
	color: var(--all);
}

.audio {
	color: var(--audio);
}

.video {
	color: var(--video);
}

.image {
	color: var(--image);
}

.text {
	color: var(--text);
}

.etc {
	color: var(--etc);
}

.date {
	color: var(--date);
}

.container {
	padding-top: 1.5em;
	padding-bottom: 2em;
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
	text-align: left;
	width: auto;
	min-width: 450px;
/* 	opacity: 96%; */
}

.main {
	background: var(--foreground);
	padding: 1em;
	padding-bottom: 0.5em;
}

.name {
	font-size: 2em;
}

.footer {
	text-align: center;
	padding: 0.5em;
	color: var(--foreground);
}

.category {
	cursor: pointer;
}

.selected {
	text-decoration: underline;
}

.unselected:hover {
	text-decoration: underline;
}