@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
	--background: #0C1C54;
	--foreground: #F3F6FF;
	--main-text: #0C1C54;
	--date: #8D94B0;
	--link: var(--main-text);

	--all: var(--main-text);
	--audio: #AB5A2C;
	--video: #BD7B00;
	--image: #539B48;
	--text: #3B7E78;
	--etc: #4D5B8F;
}

body {
	text-align: center;
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	background: var(--background);
	color: var(--main-text);
	font-size: 20px;
	padding-top: 2em;
	padding-bottom: 2em;
}

@media (max-width: 600px) {
	body {
		padding-top: 0em;
		padding-bottom: 1em;
	}
}

td {
	padding-bottom: 0.25em;
	padding-right: 0.5em;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
}

a:active {
	color: inherit;
}

a:focus {
	color: inherit;
}

a.header {
	color: var(--link);
}

.all {
	color: var(--all);
}

.audio {
	color: var(--audio);
}

.video {
	color: var(--video);
}

.image {
	color: var(--image);
}

.text {
	color: var(--text);
}

.etc {
	color: var(--etc);
}

.date {
	color: var(--date);
}

.container {
	padding: 0em;
	padding-top: 1em;
	display: inline-block;
	text-align: left;
	width: auto;
}

.main {
	background: var(--foreground);
	padding: 2em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

.header_top {
	display: flex;
	align-items: center;
	gap: 0.75em;
}

.header_spacer {
	flex-grow: 1;
}

img.social {
	height: 2em;
}

.name {
	font-size: 2em;
	float: left;
	padding: 0;
	margin: 0;
}

.categories {
	clear: both;
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin: 0;
	gap: 0.5em;
	padding-bottom: 1em;
}

.footer {
	text-align: center;
	padding: 1em;
	padding-bottom: 0;
	color: var(--foreground);
}

.category {
	cursor: pointer;
}

.selected {
	text-decoration: underline;
}

.unselected:hover {
	text-decoration: underline;
}